h1 { color: #0c0b09; font-family: 'Helvetica Neue', sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

.text{
  color: rgb(6, 8, 10);
}
.btntext{
  background-color: #130f03;
  color: #eceef0;

}
.card-img{
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card{
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  background-color:coral;
}
