<div style="background-color: black;height: 80px">
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-5">
      <h1 style="color:aliceblue">Welcome {{usernamehead}}!</h1>
      </div>
    <div class="col-md-2" style="padding-top: 16px;
    padding-left: 93px;">
    <div class="row">
      <div class="col">
        <app-settings></app-settings>
      </div>
    </div>
  </div>
</div>
<div class="b">
  <div class="container">
    <div class="row">
      <div class="col col-lg-9">
        <div class="row">
          <div class="col-md-7" >
            <div class="listpadding">
              <ul class="list-group w3-ul">
                <li *ngFor="let contact  of contacts" class="list-group-item divli">
                  <div class="row">
                    <div class="col-md-8" >
                      <span> {{ contact.contactName }} | {{ contact.contactNumber }} </span>
                    </div>
                    <div class="col-md-4" >
                      <span class="deletecontact" (click)="editContact(contact)"><img class="editIcon" src="https://www.shareicon.net/download/2017/02/05/878227_edit_512x512.png" style="width: 35px;height: 35px"></span>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-8" >
                    </div>
                    <div class="col-md-4" >
                      <span class="deletecontact" (click)="deleteContact(contact)">&times;</span>
                    </div>
                  </div>

                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-5" >
            <div class="butnpadding">
              <div class="card-body" style="background-color: coral">
                <h1 class="card-title" style="text-align:center">
                  New Contact
                </h1>
                <form>
                  <div class="form-group">
                    <label class="text" for="contactName">Contact Name</label>
                    <input type="text" class="form-control" id="contactName" aria-describedby="emailHelp" placeholder="Name" [(ngModel)]="contactName" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label class="text" for="contactNumber">Contact Number</label>
                    <input type="text" class="form-control" id="contactNumber" aria-describedby="emailHelp" placeholder="Number" [(ngModel)]="contactNumber" [ngModelOptions]="{standalone: true}">
                  </div>
                  <ngb-accordion #acc="ngbAccordion">
                      <ngb-panel id="toggle-1" title="First panel">
                        <ng-template ngbPanelContent>
                          Anim pariatur cliche reprehenderit, enim eiusmod high life 
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel id="toggle-2" title="Second">
                        <ng-template ngbPanelContent>
                          Anim pariatur cliche reprehenderit, enim eiusmod 
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  <ngb-alert *ngIf="status" type="danger" (close)="status = null">{{ status }}</ngb-alert>
                  <button type="submit" class="btn btn-primary btntext" (click)="addContact()" style="background-color: #000000;">Add Contact</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="closebut" (click)="closeModal()">&times;</span>
    <form>
      <div class="form-group">
        <p>Edit Contact</p>
        <label class="text" for="contactName">Contact Name</label>
        <input type="text" class="form-control" id="newcontactName" aria-describedby="emailHelp" placeholder="Name" [(ngModel)]="newcontactName" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label class="text" for="contactNumber">Contact Number</label>
        <input type="text" class="form-control" id="newcontactNumber" aria-describedby="emailHelp" placeholder="Number" [(ngModel)]="newcontactNumber" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="row">
        <div class="col-md-10" >
            <ngb-alert *ngIf="status" type="danger" (close)="status = null">{{ status }}</ngb-alert>
        <button type="submit" class="btn btn-primary btntext" (click)="saveEditedContact()" style="background-color: #000000;">Save</button>
        </div>
      </div>

    </form>
  </div>

</div>

